## **Theory**
---

Q1. What are data structure and why they important ?**
---
= Data structures are the data container whose store the data for organizing,
  and managing data in computer, which are essential for creating data to use easier. They provide various ways to access and manipulate the data according the specific needs.

---

Q2. Explain the difference between mutable and immutable data type with examples.
---

=    Mutable data types

*   Can be modified after the creation.
*   we can change, add , remove the elements.

Example :  list - we  can add remove or modify items.
           Dictonary - We can update keys and values.

list = [1,2,3,4]:

list.append(5)

list[0] = 10

print(list)# output is : [10,2,3,4,5]

=   Immutable data types are

*   cannot be modified after the ceation ,
*   For modification we make a new copy of the element.

Example : Strings, Tuple, boolen, integer, float - we cannot modified the data after creation
          
my = "AASHISH"

new = "Mr. " + my.title()

full = new + " Tiwari"

print(new)

print(full)


---

Q3. What is the main difference between list and tuples in python ?
---
=>  some main difference are as follow ✅

*  Mutability       : list are mutable and tuple are immutable .
*  Syntax           : define as : list ▶ [] and tuple ▶ ()
*  Method available :

List have many methods =  .append(), .remove(), .sort(), reverse(), etc.
Tuple have some methods = .count(), index()

---
Q4. Describe how dictionaries store data ?
---
*  Dictionaries are store in the form of key and value .
*  They were every keys are unique.
*  It wil using hashtable to store and find data more quickly .
*  A hash function is applied to the key to find where the value is store
*  Only hashable data types like strings, numbers, tuple can be used as keys.
*  Value are not be the keys


dict = {
  1 : "aashish",
  "skills" : "pw"
}


print(dict)# full dictionaries
print(dict[1])# 1 is key and "aashish" is value.
print(dict['skills'])# "skills" is key and "pw" is value.
print(dict["pw"])# shows error


---

Q5. Why use a set instead of a list in python ?
---

=> Here are some reasons   **⬇**

*  Sets are store a unique elements so no more duplicate items.
*  set allows operations like union, intersection, and difference
*  Sets are better when we dont want the order because list are in order

lisst = [1,2,3,2,1,3,2]

print(lisst)# output is [1,2,3,2,1,3,2]

sett = {1,2,3,2,1,3,2}

print(sett)# output is {1,2,3}


----

Q6. What is a string in python , and how is it different from a list ?
---

=>   A string in python is an immutable sequence of characters. It's used for storing the data and manupulating . we can not change the data of strings   because strings are immutable we should create a new string for changes and we should converting this as uppercase, lowercase and more.

*  A string is a sequence of characters.
*  It is written inside single quotes ' ', double quotes " ", or triple quotes ''' '''.


s = "aashish tiwari"

**defination ⏬**

*  strings are sequence of characters
*  list are sequence of elements(numbers, strings, etc)

**mutability**

*  strings are immutable
*  list are mutable

**Data type**

*  strings are only store charactor
*  list can store different data types

**Modification**

*  Strings are need a new strings to be modification
*  list can directly modify the elements



i = ["jai","shree","ram"]

i[2] = "krishna"

print(i)# ram is now krishna


i = "jai shr  ram"

i[7] = i

print(i)# error

---

Q7. How do tuples ensure data integrity in Python?
---
*  Tuple in data python are in ordered collection and it is Inmutable.
*  Immutable mean a data or a element in the data were not getting modified and change
*  Thus the data is not get change it may be more safe than other

e. g. :-  
data = (1,"aashish",0.9,True,1+2j)

print(data)

data[1] = "pw"

print(data)# it may shows the error because the tuple are immutable

---
Q8. What is a hash table, and how does it relate to dictionaries in Python?
---
hash table are the pair of key and table : -   
*   A hash table is a data structure that stores key-value pairs.

relation with dictionaries in python :-   
*  dictionary (dict) will be implemented using hash table .
*  hash table is dicide the key and the value which is store in hash table for (dict)
*  corresponding values for keys and values are store in hashtable.
*  the keys are never be changed its are immutable like (strings tuple numbers)
*  hashtable is used internally in the dictionary

student = {"name": "aashish", "age": 21, "city": "Indore"}

print(student["name"])   # aashish


student["course"] = "Data analyst"

print(student)# output {"name": "aashish","course": "Data analyst", "age": 21, "city": "Indore"}

---
Q9. Can lists contain different data types in Python?
---
yes the list will contain different types of data types
*  list may store different data elements such are integers, floats, strings, booleans, other lists,  objects

e.g. ▶ lis = [lis = ["aashish",9,9.0,True]
        
        print(lis)# output is ["aashish",9,9.0,True]

---
Q10. Explain why strings are immutable in Python.
---
*  once a string is created, it cannot be changed.
*  any changes or operation of modifing in the list is not occour such as replace, remove, add and etc. the changing we should create a new string at that place
*  Strings are often used as keys in dictionaries. Keys must not change
*  strings are immutable so that were protect the data from accidental changes

e.g. ✅

s = "Aashish"
s[0] = a # error
s.append(" tiwari")# error

---
Q11. What advantages do dictionaries offer over lists for certain tasks?
---
*  lists, dictionaries store data as key-value pairs, which makes data easier to organize
*  We can access data by its key, not by position
*  Each key is unique, preventing duplicate entries for the same key

Using a list
student_list = ["Ankit", 21, "Indore"]
print(student_list[0])   # Need to remember index

Using a dictionary
student_dict = {"name": "Ankit", "age": 21, "city": "Indore"}
print(student_dict["name"])  # Directly access by key (clearer & faster)

---
Q12. Describe a scenario where using a tuple would be preferable over a list.
---
*  A tuple is immutable (cannot be changed after creation).

*  This makes it useful when you want to store fixed data that should not be modified accidentally
*  some example like the week days, employ id, student id , and other that we want to store in immutable state

e.g.

week_days are
week = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")

week[0] = "sun"   # ❌ Error ✈

print(week)   # ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")

---
Q13. How do sets handle duplicate values in Python ?
---

*  Sets automatically remove duplicates in Python.

*  When you create a set, if it has repeated elements, Python will only keep one copy of each unique element.

e.g. set = {1,2,3,3,4,4,5,6,7,2,3,4}
     print(set)# output is {1,2,3,4,5,6,7}

---
Q14. How does the “in” keyword work differently for lists and dictionaries ?
---

*  In lists, the in keyword checks if a value exists as an element.

*  In dictionaries, the in keyword checks if a key exists .

e.g. = list Example

nums = [1, 2, 3, 4]

print(2 in nums)     # True

print(5 in nums)     # False


student = {"name": "Ankit", "age": 21}

print("name" in student)   # True

print("Ankit" in student)  # False

---
Q15. Can you modify the elements of a tuple? Explain why or why not.
---
*  We cannot modify the elements of a tuple.

*  Tuples are immutable, which means once a tuple is created, its elements cannot be changed, added, or removed.

e. g.    Tuple Example

colors = ("red", "green", "blue")

print(colors[1])   # green

colors[1] = "yellow" # error ⛔

---
Q16. What is a nested dictionary, and give an example of its use case ?
---
*  A nested dictionary is a dictionary inside another dictionary.
*  the inside nested key is were store the own dictionaty (key and value).

e.g.

students = {
  
  101 : {"name":"aashish","course":"data analyst","institute":"pw skills"},
  102 : "ankit"
}

print(students[101]["name"])   # aashish

print(students[102])   #  Ankit

---
Q17. Describe the time complexity of accessing elements in a dictionary.
---
*  Dictionaries are implemented using hash tables.
*  Accessing elements by key takes O(1) time

---
Q18. In what situations are lists preferred over dictionaries?
---
*  Lists maintain order (first element, last element, etc.).
*  Lists can store the same value multiple times.
*  if we dont want or  need key value pairs
*  if indexing is necessary
---
Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
---
= dictionaries are considered as unorderd because it will store the data in hash table not be store list type indexing so we are not get the order of the dictionary according the indexing.

*  We must used the keys pair to get the data

*  We can not get the index at dictionary
---
Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
---
LIST in terms of data retrieval =>

*  data is retriev by index
*  order sequence for elements.

print(lis[0]) # aashish

dict in terms of data retrieval =>

*  data is in hash table in the form of key and value
*  data is retrive by key

print(dic["name"]) # aashish



---

## **PRACTICAL QUESTION**

In [1]:
# Q1.  Write a code to create a string with your name and print it.

name = "PW SKILLS"

print(name)

PW SKILLS

In [2]:
#Q2. Write a code to find the length of the string "Hello World".

string = "Hello World"

print(len(string))

11

In [3]:
#Q3. Write a code to slice the first 3 characters from the string "Python Programming".

string = "Python Programming"

print(string[0:3])

Pyt

In [4]:
#Q4. Write a code to convert the string "hello" to uppercase.

string = "hello"

print(string.upper())

HELLO

In [5]:
#Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

string = "I like apple"

print(string.replace("apple","orange"))

I like orange

In [11]:
#Q6. Write a code to create a list with numbers 1 to 5 and print it.

list = [1,2,3,4,5]

print(list)

[1, 2, 3, 4, 5]
[1] [2] [3] [4]

In [12]:
#Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

list = [1,2,3,4]

list.append(10)

print(list)

[1, 2, 3, 4, 10]

In [13]:
#Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list = [1,2,3,4,5]

list.remove(3)

print(list)

[1, 2, 4, 5]

In [14]:
#Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list = ['a', 'b', 'c', 'd']

print(list[1])

b

In [18]:
#Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

lis = [10, 20, 30, 40, 50]
lis.reverse()
print(lis)

[50, 40, 30, 20, 10]

In [19]:
# Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

tupl = (100,200,300)

print(tupl)

(100, 200, 300)

In [20]:
#Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tupl = ('red', 'green', 'blue', 'yellow')

print(tupl[-2])

blue

In [21]:
#Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tupl = (10, 20, 5, 15)

print(min(tupl))

5

In [22]:
#Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')

print(animals.index("cat"))

1

In [24]:
#Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("kiwi", "banana", "orange")

print("kiwi" in fruits)

True

In [29]:
#Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

sets = {"a","b","c"}

print(sets)

{'b', 'c', 'a'}

In [31]:
#Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

sets = {1,2,3,4,5}
sets.clear()
print(sets)

set()

In [32]:
#Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

sets = {1,2,3,4}
sets.remove(4)
print(sets)

{1, 2, 3}

In [33]:
#Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1,2,3}
set2 = {3,4,5}

print(set1.union(set2))

{1, 2, 3, 4, 5}

In [34]:
#Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1,2,3}
set2 = {2,3,4}

print(set1.intersection(set2))

{2, 3}

In [35]:
#Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dic = {"name":"aashish","age":21,"city":"indore"}

print(dic)

{'name': 'aashish', 'age': 21, 'city': 'indore'}

In [36]:
#Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dic = {'name': 'John', 'age': 25}

dic["country"] = "USA"

print(dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [38]:
#Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dic = {'name': 'Alice', 'age': 30}

print(dic["name"])

Alice

In [43]:
#Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dic = {'name': 'Bob', 'age': 22, 'city': 'New York'}

del dic["age"]

print(dic)

dic = {'name': 'Bob', 'age': 22, 'city': 'New York'}

dic.pop("age")

print(dic)

{'name': 'Bob', 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

In [44]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dic = {'name': 'Alice', 'city': 'Paris'}

print("city" in dic)

True

In [45]:
#Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

l = [1,2,3,4,5]
t = (1,2,3,4,5)
d = {"name":"aashish","age":21,"city":"indore"}

print(l)
print(t)
print(d)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'aashish', 'age': 21, 'city': 'indore'}

In [46]:
#Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

l = [4,3,6,7,5]

l.sort()

print(l)

[3, 4, 5, 6, 7]

In [47]:
#Q28. Write a code to create a list with strings and print the element at the third index.

l = ["aashish","pw","skills","data","analyst"]

print(l[3])

data

In [48]:
#Q29. Write a code to combine two dictionaries into one and print the result.

dic1 = {"name":"aashish","age":21,"city":"indore"}
dic2 = {"course":"data analyst","institute":"pw skills"}

dic1.update(dic2)

print(dic1)

{'name': 'aashish', 'age': 21, 'city': 'indore', 'course': 'data analyst', 'institute': 'pw skills'}

In [53]:
#Q30. Write a code to convert a list of strings into a set.

lis = ["aashish","pw","skills","data","analyst"]

sets = set(lis)
print(sets)

{'skills', 'aashish', 'data', 'analyst', 'pw'}